In [2]:
import pandas as pd

### Exercício 01

> Manipulando dataframes com Pandas.

* a) Abra o arquivo world_happiness_report_2015.csv e o aloque em um dataframe.

In [20]:
document_path = "./world_happiness_report_2015.csv"

dataframe = pd.read_csv(document_path)

* b) Verifique o cabeçalho e o final do dataframe.

In [5]:
dataframe.head(2)

,country,region,happiness rank,happiness score,standard error,economy (GDP per Capita),family,health (Life Expectancy),freedom,trust (Government Corruption),generosity,dystopia residual
162,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,NaN
163,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,NaN

In [6]:
dataframe.tail(2)

,country,region,happiness rank,happiness score,standard error,economy (GDP per Capita),family,health (Life Expectancy),freedom,trust (Government Corruption),generosity,dystopia residual
162,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,NaN
163,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,NaN

* c) Quais as colunas desse dataframe?

In [39]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164 entries, 0 to 163
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   country            164 non-null    object
 1   region             164 non-null    object
 2   rank_felicidade    164 non-null    int64
 3   score_felicidade   156 non-null    float64
 4   stand_error        163 non-null    float64
 5   PIB                164 non-null    float64
 6   family             164 non-null    float64
 7   expect_vida        164 non-null    float64
 8   freedom            164 non-null    float64
 9   corrupcao          164 non-null    float64
 10  generosity         164 non-null    float64
 11  dystopia residual  150 non-null    float64
dtypes: float64(9), int64(1), object(2)
memory usage: 15.5+ KB

* d) Quais os tipos de dados temos no dataframe?

In [13]:
dataframe.dtypes

country                           object
region                            object
happiness rank                     int64
happiness score                  float64
standard error                   float64
economy (GDP per Capita)         float64
family                           float64
health (Life Expectancy)         float64
freedom                          float64
trust (Government Corruption)    float64
generosity                       float64
dystopia residual                float64
dtype: object

* e) Há valores faltantes ou nulos? Em quais colunas?

In [35]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164 entries, 0 to 163
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   country            164 non-null    object
 1   region             164 non-null    object
 2   rank_felicidade    164 non-null    int64
 3   score_felicidade   156 non-null    float64
 4   stand_error        163 non-null    float64
 5   PIB                164 non-null    float64
 6   family             164 non-null    float64
 7   expect_vida        164 non-null    float64
 8   freedom            164 non-null    float64
 9   corrupcao          164 non-null    float64
 10  generosity         164 non-null    float64
 11  dystopia residual  150 non-null    float64
dtypes: float64(9), int64(1), object(2)
memory usage: 15.5+ KB

* f) Renomeie as variáveis como segue:

In [30]:
dataframe = dataframe.rename(columns={
    'happiness rank': 'rank_felicidade',
    'happiness score': 'score_felicidade',
    'standard error': 'stand_error',
    'economy (GDP per Capita)': 'PIB',
    'health (Life Expectancy)': 'expect_vida',
    'trust (Government Corruption)': 'corrupcao'
})

dataframe.head(0)

Empty DataFrame
Columns: [country, region, rank_felicidade, score_felicidade, stand_error, PIB, family, expect_vida, freedom, corrupcao, generosity, dystopia residual]
Index: []

* g) Quais os valores médios de expect_vida? E o valor mediano? E o máximo da
variável PIB?

In [34]:
dataframe.describe()

,rank_felicidade,score_felicidade,stand_error,PIB,family,expect_vida,freedom,corrupcao,generosity,dystopia residual
count,164.000000,156.000000,163.000000,164.000000,164.000000,164.000000,164.000000,164.000000,164.000000,150.000000
mean,77.018293,5.424487,0.047692,0.862023,1.000812,0.638187,0.434959,0.149978,0.239615,2.128909
std,46.699860,1.212568,0.017110,0.404519,0.272449,0.246327,0.152201,0.124201,0.128053,0.563160
min,1.000000,2.000000,0.018480,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.328580
25%,35.750000,4.561250,0.036780,0.579618,0.863468,0.460545,0.331247,0.063010,0.152017,1.811778
50%,76.500000,5.260500,0.043940,0.920510,1.038145,0.705930,0.440745,0.110690,0.217155,2.120700
75%,117.250000,6.422000,0.052335,1.190585,1.226987,0.814975,0.557190,0.189380,0.319570,2.474890
max,158.000000,7.587000,0.136930,1.690420,1.402230,1.025250,0.669730,0.551910,0.795880,3.602140