In [1]:
import pandas as pd

In [2]:
document_path = "./Imobiliária.xlsx"

dataframe = pd.read_excel(document_path)

dataframe.columns = [
    'Filial',
    'Vendedor',
    'Data',
    'Tipo',
    'Área (m²)',
    'Dorms.',
    'Garag.',
    'Piscina',
    'Preço',
    'Comissão'
]

In [5]:
dataframe.head()

,Filial,Vendedor,Data,Tipo,Área (m²),Dorms.,Garag.,Piscina,Preço,Comissão
0,Centro,Simone,2005-10-08,Apartamento,102.5,2,2,Sim,235500,3532.5
1,Noroeste,Simone,2005-10-08,Apartamento,199.5,4,4,Não,377700,5665.5
2,Norte,Roberto,2005-10-12,Casa,145.5,2,2,Não,232500,3487.5
3,Sudeste,Simone,2005-10-14,Apartamento,153.5,3,2,Não,289100,4336.5
4,Noroeste,Cristina,2005-10-16,Apartamento,93.0,2,2,Sim,235400,3531.0

* l) Gere um arquivo em Excel para representar as vendas efetuadas pela filial norte
em 2010.

In [16]:
# Filtrar os dados
interval = (dataframe['Data'] >= '2010-01-01') & (dataframe['Data'] <= '2010-12-31')

end_dataframe = dataframe[(dataframe['Filial'] == 'Norte') & interval]

# Mapear o caminho final e definir um nome para o arquivo
output_path = "./answers_imobiliaria/"
arq_name = 'vendas_norte_2010.xlsx'

# Salvar o arquivo na pasta
end_dataframe.to_excel(output_path + arq_name, index=False)

* m) Gere um arquivo em Excel para representar as vendas efetuadas pela filial
Sudeste em 2010. Sendo que no relatório deve conter apenas vendas de casas
sem garagem.

In [20]:
# Filtrar os dados
interval = (dataframe['Data'] >= '2010-01-01') & (dataframe['Data'] <= '2010-12-31')

region = (dataframe['Filial'] == 'Sudeste')

end_dataframe = dataframe[region & interval & (dataframe['Tipo'] == 'Casa') & (dataframe['Garag.'] == 0)]

# Mapear o caminho final e definir um nome para o arquivo
output_path = "./answers_imobiliaria/"
arq_name = 'casas_sudeste_2010_sem_garagem.xlsx'

# Salvar o arquivo na pasta
end_dataframe.to_excel(output_path + arq_name, index=False)

* n) Qual o valor máximo de comissão que a imobiliária numa venda?

In [23]:
# Filtrar os dados
end_dataframe = dataframe[(dataframe['Comissão'] == dataframe['Comissão'].max())]

# Mapear o caminho final e definir um nome para o arquivo
output_path = "./answers_imobiliaria/"
arq_name = 'venda_maior_comissao.xlsx'

# Salvar o arquivo na pasta
end_dataframe.to_excel(output_path + arq_name, index=False)

5764.5

* o) Quantas casas de 2 ou 3 dormitórios foram vendidas pelo Ricardo antes de 2011.

In [21]:
# Filtrar os dados
interval = (dataframe['Data'] < '2011-01-01')

qnta = ((dataframe['Dorms.'] == 2) | (dataframe['Dorms.'] == 3))

end_dataframe = dataframe[(dataframe['Vendedor'] == 'Ricardo') & (dataframe['Tipo'] == 'Casa') & interval & qnta]

# Mapear o caminho final e definir um nome para o arquivo
output_path = "./answers_imobiliaria/"
arq_name = 'casas_2ou3_dormitorios_antes_2011_ricardo.xlsx'

# Salvar o arquivo na pasta
end_dataframe.to_excel(output_path + arq_name, index=False)

### Exercício 03

* a) Crie um programa em pandas para ler o arquivo em Excel vendas.xlsx e coloque em um dataframe.

In [59]:
document_path = './Vendas.xlsx'

dataframe = pd.read_excel(document_path)

* c) Visualize o cabeçalho dos dados;

In [28]:
dataframe.head(1)

,Coluna 1,Coluna 2,Coluna 3,Coluna 4,Coluna 5,Coluna 6
0,2014-01-01,Bernardo de Sousa,Supervisor de Vendas Pl,ACME,AL,3276.2

* d) Visualize as últimas linhas;

In [29]:
dataframe.tail(1)

,Coluna 1,Coluna 2,Coluna 3,Coluna 4,Coluna 5,Coluna 6
130465,2016-12-31,Liz Azevedo Santos,Vendedor Pl.,Planet Express,SC,9820.71

* e) Escreva um programa para renomear o cabeçalho da tabela com os seguintes nomes:

In [67]:
dataframe.columns = [
    'Data',
    'Vendedor',
    'Cargo',
    'Cliente',
    'UF',
    'Vendas'
]

dataframe.head(0)

Empty DataFrame
Columns: [Data, Vendedor, Cargo, Cliente, UF, Vendas]
Index: []

* g) Quais são os tipos de dados que temos no dataframe?

In [31]:
dataframe.dtypes

Data        datetime64[ns]
Vendedor            object
Cargo               object
Cliente             object
UF                  object
Vendas             float64
dtype: object

* h) Há valores faltantes ou nulos?

In [32]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130466 entries, 0 to 130465
Data columns (total 6 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Data      130466 non-null  datetime64[ns]
 1   Vendedor  130466 non-null  object
 2   Cargo     130466 non-null  object
 3   Cliente   130466 non-null  object
 4   UF        130466 non-null  object
 5   Vendas    130466 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 6.0+ MB

* i) Calcule a soma, média, máximo, mínimo e contagem da coluna Preço.

In [34]:
print(f"Soma da coluna preço: R$ {dataframe['Vendas'].sum():,.0f}")
print(f"Média da coluna preço: R$ {dataframe['Vendas'].mean():,.0f}")
print(f"Valor mínimo da coluna preço: R$ {dataframe['Vendas'].min():,.0f}")
print(f"Valor máximo da coluna preço: R$ {dataframe['Vendas'].max():,.0f}")
print(f"Contagem da coluna preço: {dataframe['Vendas'].count()}")

Soma da coluna preço: R$ 718,501,609
Média da coluna preço: R$ 5,507
Valor mínimo da coluna preço: R$ 1,000
Valor máximo da coluna preço: R$ 10,000
Contagem da coluna preço: 130466

* j) Crie um programa para criar um dataframe para mostrar as vendas por cargo, e salvar um arquivo em csv para com o nome de cada cargo:

1. Supervisor de Vendas Pl
2. Gerente Regional Jr.
3. Supervisor de Vendas Sr
4. Coordenador de Vendas Pl.
5. Vendedor Jr.
6. Vendedor Sr.
7. Vendedor Pl.
8. Gerente Regional Pl.
9. Coordenador de Vendas Sr.
10. Coordenador de Vendas Jr.
11. Supervisor de Vendas Jr.

In [70]:
# Mapear o caminho final e definir um nome para o arquivo
output_path = "./answers_vendas/"

for position in dataframe['Cargo'].drop_duplicates():

    dataframe[dataframe['Cargo'] == position].to_excel(output_path + f'{position.lower().replace(".", "")}.xlsx', index=False)

pandas.core.series.Series

* k) Crie um dataframe para cada coluna, contendo dados únicos.

In [62]:
dataframes = []

for column in dataframe.columns:

    dataframes.append(dataframe[column])

0          Bernardo de Sousa
1          Bernardo de Sousa
2          Bernardo de Sousa
3          Bernardo de Sousa
4          Bernardo de Sousa
                 ...
130461    Liz Azevedo Santos
130462    Liz Azevedo Santos
130463    Liz Azevedo Santos
130464    Liz Azevedo Santos
130465    Liz Azevedo Santos
Name: Coluna 2, Length: 130466, dtype: object