In [2]:
import pandas as pd

In [3]:
document_path = './world_happiness_report_2015.csv'

dataframe = pd.read_csv(document_path)

In [3]:
dataframe.head(4)

,country,region,happiness rank,happiness score,standard error,economy (GDP per Capita),family,health (Life Expectancy),freedom,trust (Government Corruption),generosity,dystopia residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531

### Exercício 01

* b) Qual a média do score_felicidade?

In [32]:
print(f"A média do score_felicidade é: {dataframe['happiness score'].mean():.2f}")

A média do score_felicidade é: 5.42

- c) Qual a soma do PIB?

In [31]:
print(f"A soma do PIB é: {dataframe['economy (GDP per Capita)'].sum():.2f}")

A soma do PIB é: 141.37

- d) Qual a soma do freedom e corrupção?

In [33]:
print(f"A soma do freedom é: {dataframe['freedom'].sum():.2f}")
print(f"A soma da corrupção é: {dataframe['trust (Government Corruption)'].sum():.2f}")

A soma do freedom é: 71.33
A soma da corrupção é: 24.60

- e) Há dados duplicados? Quantos? Verifique quais são eles?

In [47]:
print(f'Existem {dataframe.duplicated().sum()} dados duplicados')

Existem 6 dados duplicados

In [49]:
# Filtrar os registro duplicados da tabela
dataframe[dataframe.duplicated() == True]

,country,region,happiness rank,happiness score,standard error,economy (GDP per Capita),family,health (Life Expectancy),freedom,trust (Government Corruption),generosity,dystopia residual
11,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
12,Finland,Western Europe,6,7.406,0.03140,1.29025,1.31826,0.88911,0.64169,0.41372,0.23351,2.61955
13,Netherlands,Western Europe,7,7.378,0.02799,1.32944,1.28017,0.89284,0.61576,0.31814,0.47610,2.46570
14,Sweden,Western Europe,8,7.364,0.03157,1.33171,1.28907,0.91087,0.65980,0.43844,0.36262,2.37119
34,Oman,Middle East and Northern Africa,22,6.853,0.05335,1.36011,1.08182,0.76276,0.63274,0.32524,0.21542,2.47489
35,Venezuela,Latin America and Caribbean,23,6.810,0.06476,1.04424,1.25596,0.72052,0.42908,0.11069,0.05841,3.19131

- f) Verifique a quantidade de dados faltantes.

In [53]:
dataframe.isna().sum()

country                           0
region                            0
happiness rank                    0
happiness score                   8
standard error                    1
economy (GDP per Capita)          0
family                            0
health (Life Expectancy)          0
freedom                           0
trust (Government Corruption)     0
generosity                        0
dystopia residual                14
dtype: int64

- g) Crie um dataframe onde os valores faltantes de score_felicidade sejam
substituídos por -9999.

In [54]:
dataframe_update = dataframe.fillna('-9999')

In [57]:
dataframe_update.isna().sum()

country                          0
region                           0
happiness rank                   0
happiness score                  0
standard error                   0
economy (GDP per Capita)         0
family                           0
health (Life Expectancy)         0
freedom                          0
trust (Government Corruption)    0
generosity                       0
dystopia residual                0
dtype: int64

- h) Quantas e quais são as regiões existentes nos dados?

In [63]:
print(f'Existem {dataframe_update.region.nunique()} regiões')

Existem 10 regiões

In [65]:
for region in dataframe_update.region.unique():

    print('-> ' + region)

-> Western Europe
-> North America
-> Australia and New Zealand
-> Middle East and Northern Africa
-> Latin America and Caribbean
-> Southeastern Asia
-> Central and Eastern Europe
-> Eastern Asia
-> Sub-Saharan Africa
-> Southern Asia

- i) Verifique a frequência dos dados segundo suas regiões. Qual a região com maior
quantidade de dados? E a região com a menor quantidade?

In [6]:
dataframe.region.value_counts()

region
Sub-Saharan Africa                 40
Central and Eastern Europe         29
Western Europe                     24
Latin America and Caribbean        23
Middle East and Northern Africa    21
Southeastern Asia                   9
Southern Asia                       7
Eastern Asia                        6
North America                       3
Australia and New Zealand           2
Name: count, dtype: int64